body {
  font-family: sans-serif;
  background-color: #0b0d17; /* Space Black */
  color: white;
  text-align: center;
}
.feed-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card {
  background: #1e1e2e;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #00d4ff; /* Default Blue Border */
  text-align: left;
}

.danger {
  border-left-color: #ff0000; /* Red Border for danger */
  background: #2b1111;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#searchBtn{
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 1rem;
}
#dateInput {
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 1rem;
}
label{
    font-size: large;
}